<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolCloser</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container" style="align-items: center">
        <div class="box">
            <div class="row">
                <h1>Welcome to SolCloser!</h1>
                    <div class="row">
                        <button id="createTransactionButton" class="button" style="background-color: blue; color: white; display: none;">
                            <h3>Get My SOL</h3>
                        </button>
                    </div>
                    <div class="row">
                        <button id="connectWalletButton" class="button" style="background-color: green; color: white; display: none;">
                            <h3>Connect Wallet</h3>
                        </button>
                        <button id="disconnectWalletButton" class="button" style="background-color: red; color: white; display: none;">
                            <h3>Disconnect Wallet</h3>
                        </button>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script>
    <script src='/script.js' defer></script>
</body>
</html>