<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolCloser</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container" style="align-items: center">
        <div class="box">
            <div class="row">
                <h1>Welcome to SolCloser!</p>
                <button id="connectWalletButton" class="button" style="background-color: green; color: white">
                    <h3>Connect Wallet</h3>
                </button>
                <button id="disconnectWalletButton" class="button" style="background-color: red; color: white">
                    <h3>Disconnect Wallet</h3>
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='/script.js' defer></script>
</body>
</html>